body{
	max-width: 768px;
	height: auto;
	background-color: black;
	font-family: Arial, sans-serif;
}
img{
	max-width: 100%;
	height: auto;
}

.container{
	width: 768px;
	height: auto;
	background-color: #F5F5F5;
	margin-left: auto;
	margin-right: auto;
}

.title{
	font-size: 25px;
	text-align: center;
	position: relative;
	top: 0px;
	z-index: 1;
}
.pink-bar {
	background-color: #F46F78;
	position: relative;
	top: 25px;
	z-index: 2;
	height: 20px;
	width: 250px;
}
.back-arrow{
	width: 30px;
	position: relative;
	top: 52px;
	left: 7px;
	z-index: 3;	
}
.namedate{
	font-size: 12px;
	float: right;
	padding-bottom: 20px;
	padding-right: 60px;
	color: #F46F78;
}
.img1{
	text-align: center;
}
.para-1{
	font-size: 14px;
	font-weight: lighter;
	padding-top: 40px;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 25px;
}
.img2{
	float: left;
	width: 27%;
	padding-left: 60px;
	text-align: center;
}
.para-2{
	font-size: 14px;
	float: left;
	width: 50%;
	padding-left: 20px;
	padding-right: 60px;
}

.footer{
	height: 50px
}

@media screen and (max-width: 600px) {

.container{
	width: 375px;
	height: auto;
}
.pink-bar {
	width: 67px;
}
.namedate{
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 7px;
}
.para-1{
	padding-top: 23px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 25px;
}
.img2{
	float: left;
	width: 80%;
	padding-left: 38px;
	text-align: center;
}
.para-2{
	font-size: 14px;
	float: left;
	width: 90%;
	padding-top: 23px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 25px;
}
.footer{
	height: 30px
}








